<a href="https://youtu.be/A2euuevpYis" target="_parent"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/71px-YouTube_full-color_icon_%282017%29.svg.png" alt="Open In Colab"/></a>

# **Pr√°ctico Sistemas Recomendadores: pyreclab - Slope One**

En este pr√°ctico seguiremos utilizando [pyreclab](https://github.com/gasevi/pyreclab), con el cual estamos aprendiendo distintas t√©cnicas de recomendaci√≥n. Seguiremos usando la misma base de datos de los pr√°cticos anteriores, para que puedan comparar los m√©todos y sus implementaciones. Este pr√°ctico est√° acompa√±ado de un [video comentando la actividad](https://youtu.be/A2euuevpYis).

En esta oportunidad exploraremos el recomendador de Pendiente Uno o **Slope One** [1].

**Adaptado y preparado por:** Francisca Cattan üì© fpcattan@uc.cl

Referencias üìñ
------
[1] *Lemire, D., & Maclachlan, A. (2005, April). Slope One Predictors for Online Rating-Based Collaborative Filtering. In SDM (Vol. 5, pp. 1-5).*

**Nombre**:  Mat√≠as Ramos

## Actividad 1 üëì

Antes de empezar con el pr√°ctico, responde la siguiente pregunta con lo visto en clases.

**Pregunta:** Explique c√≥mo funciona Slope One (como modelo te√≥rico, no piense en la implementaci√≥n). En particular explique:

- Repasemos: ¬øPor qu√© este recomendador es un algoritmo de Filtrado Colaborativo?
- Este Filtrado Colaborativo, ¬øest√° basado en el usuario o en los items? ¬øPor qu√©?
- ¬øQu√© datos recibe Slope One y qu√© hace con ellos? (qu√© tipo de columnas y qu√© calculo)
- ¬øQu√© pasar√≠a si se agrega un nuevo rating a la base de datos?
- Opcional: ¬øC√≥mo crees que le ir√≠a al recomendador con un usuario que acaba de entrar al sistema y ha asignado muy pocos ratings?

üí° *Hint: La bibliograf√≠a todo lo puede.*

**Respuesta:**

Es un algoritmo de filtrado colaborativo ya que las recomendaciones que realiza se basa en informaci√≥n obtenida de otros usuarios, entonces el filtrado que se realiza utiliza la 'colaboraci√≥n' del resto de los usuarios v√≠a su informaci√≥n que en este caso corresponde a los ratings que dan a los √≠tems.

Slope One es item-based ya que consiste en calcular diferencias promedios entre √≠tems respecto los ratings que han obtenidos. Con esta diferencia se permite estimar el rating desconocido. Al realizar los c√°lculos basados en el vector de ratings de los √≠tems se cataloga como item-based.

Slope one debe recibir los √≠tems y sus ratings. El arreglo com√∫n para representar tal informaci√≥n es la matriz user-item. Slope One trabaja en perspectiva de las columnas de esta matriz que representan los ratings de un √≠tem en particular. Si se quiere estimar el rating que dar√≠a un usuario u a un item i, se debe calcular el promedio ponderado de las diferencias del resto de los √≠tems que el usuario u evalu√≥, con el item i para obtener la predicci√≥n.

Si un usuario agrega un nuevo rating se debe recomputar la suma ponderada de diferencias de los k √≠tems los cuales el usuario a evaluado previamente. Como k es un valor generalmente no alto, el agregar un nuevo rating no tiene costos significativos.

Como el recomendador se basa en los √≠tems los cuales el usuario a valorado previamente, el hecho de que no tenga ratings previos originar√≠a un cold start problem. Si tiene pocos ratings probablemente la predicci√≥n no sea buena ya que se basar√≠a en la diferencia promedio de muy pocos √≠tems generando resultados sub-√≥ptimos.

# **Configuraci√≥n Inicial**

## Paso 1:
Descargue directamente a Colab los archivos del dataset ejecutando las siguientes 3 celdas:

In [1]:
!curl -L -o "u1.base" "https://drive.google.com/uc?export=download&id=1bGweNw7NbOHoJz11v6ld7ymLR8MLvBsA"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    641      0 --:--:-- --:--:-- --:--:--   641
100 1546k  100 1546k    0     0  1985k      0 --:--:-- --:--:-- --:--:--  107M

In [2]:
!curl -L -o "u1.test" "https://drive.google.com/uc?export=download&id=1f_HwJWC_1HFzgAjKAWKwkuxgjkhkXrVg"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0   1083      0 --:--:-- --:--:-- --:--:--  1083
100  385k  100  385k    0     0   739k      0 --:--:-- --:--:-- --:--:--  125M

In [3]:
!curl -L -o "u.item" "https://drive.google.com/uc?export=download&id=10YLhxkO2-M_flQtyo9OYV4nT9IvSESuz"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    970      0 --:--:-- --:--:-- --:--:--   970
100  230k  100  230k    0     0   385k      0 --:--:-- --:--:-- --:--:--  385k

Los archivos **u1.base** y **u1.test** tienen tuplas {usuario, item, rating, timestamp}, que es la informaci√≥n de preferencias de usuarios sobre pel√≠culas en una muestra del dataset [movielens](https://grouplens.org/datasets/movielens/).

## Paso 2:

Instalamos pyreclab utilizando pip.

In [4]:
!pip install pyreclab --upgrade

Collecting pyreclab
  Downloading https://files.pythonhosted.org/packages/c8/f7/aa90be8c34b7610d90794df95b3b8cb487a1065f0bce638db220b7f41e63/pyreclab-0.1.15-cp36-cp36m-manylinux2010_x86_64.whl (234kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 235kB 1.6MB/s
Installing collected packages: pyreclab
Successfully installed pyreclab-0.1.15

## Paso 3:

Hacemos los imports necesarios para este pr√°ctico.

In [5]:
import pyreclab
import numpy as np
import pandas as pd

# **El dataset**

üí° *En pr√°cticos anteriores, vimos como analizar este dataset. Puedes revisarlos en caso de dudas.*

## Paso 4:

Ya que queremos crear una lista de recomendaci√≥n de items para un usuario en especifico, necesitamos obtener informaci√≥n adicional de cada pel√≠cula tal como t√≠tulo, fecha de lanzamiento, g√©nero, etc. Cargaremos el archivo de items descargado "u.item" para poder mapear cada identificador de √≠tem al conjunto de datos que lo describe.

In [6]:
# Definimos el orden de las columnas
info_cols = [ 'movieid', 'title', 'release_date', 'video_release_date', 'IMDb_URL', \
              'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', \
              'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', \
              'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western' ]

# Asignamos a una variable la estructura de datos de los items
info_file = pd.read_csv('u.item', sep='|', index_col = 0, names = info_cols, header=None, encoding='latin-1')

# **Slope One**

## Paso 5:

Seguiremos un camino muy similar a los ejercicios de User KNN e Item KNN. Crearemos una instancia del algoritmo de recomendaci√≥n y luego pasaremos a la fase de entrenamiento.

In [7]:
# Declaramos la instancia SlopeOne
mySlopeOne = pyreclab.SlopeOne(dataset='u1.base', dlmchar=b'\t', header=False, usercol=0, itemcol=1, ratingcol=2)

In [8]:
# Y enntrenamos
mySlopeOne.train()

## Actividad 2 üëì

**Pregunta:** Explique qu√© hace el m√©todo `train()` en este caso, dado el modelo te√≥rico. ¬øCalcula informaci√≥n?, ¬øno hace nada?, ¬øordena los datos? 

**Respuesta:**

El m√©todo train() deber√≠a realizar los c√°lculos de Slope One. Por usuario, se calcula la suma ponderada del promedio de diferencias de ratings entre el item a predecir y los items evaluados previamente por 
√©l. Estos valores se guardan y se acceden cuando se consulta por la predicci√≥n o recomendaci√≥n.

## Paso 6:

Llego la hora de predecir el rating.

In [9]:
# Esta es la predicci√≥n de rating que el usuario ID:457 otorgar√≠a al √≠tem ID:37
# De esta forma podemos comparar el resultado con los pr√°cticos anteriores
mySlopeOne.predict("457", "37")

3.2408759593963623

In [10]:
# Tambi√©n podemos guardar la predicci√≥n en una variable
prediction = mySlopeOne.predict("457", "37")

In [11]:
# Podemos comprobar las peliculas rankeadas por el usuario ID:457
# Que ciertamente ha participado activamente (¬°156 items!)
train_file = pd.read_csv('u1.base', sep='\t', names = ['userid', 'itemid', 'rating', 'timestamp'], header=None)
train_file[train_file['userid'] == 457]

       userid  itemid  rating  timestamp
37269     457       1       4  882393244
37270     457       7       4  882393278
37271     457       9       5  882393485
37272     457      11       4  882397020
37273     457      13       3  882393883
...       ...     ...     ...        ...
37420     457    1047       2  882395964
37421     457    1119       4  882398308
37422     457    1168       5  882548761
37423     457    1210       4  882549905
37424     457    1221       4  882549438

[156 rows x 4 columns]

In [13]:
# Y tambi√©n cu√°les usuarios han rankeado la pelicula ID:37
train_file[train_file['itemid'] == 37]

       userid  itemid  rating  timestamp
1302       13      37       1  882397011
14851     201      37       2  884114635
19670     268      37       3  876514002
29489     363      37       2  891498510
31084     385      37       4  880013483
32996     405      37       1  885548384
62777     773      37       3  888540352

## Actividad 3 üëì

Haremos un peque√±o experimento para entender mejor como funciona Slope One. Gracias al ejercicio anterior, sabemos que el usuario 457 ya ha asignado el mejor rating (5 ‚≠ê) a las dos peliculas ID:9 e ID:1168. Comparemos.

**Pregunta:** ¬øC√≥mo se explican estos resultados?  

**Respuesta:**

Una hip√≥tesis que se puede elaborar es que probablemente el usuario tiende a valorar las otras pel√≠culas con un rating m√°s similar al promedio o neutro. De los pocos ratings que vimos en el dataframe anterior se vi√≥ que el usuario daba valoraci√≥n 4 con mayor frecuencia mientras que justo las pel√≠culas 9 y 1168 son aquellas que tienen el valor m√°ximo que no se repite en otras peliculas de la selecci√≥n anterior. Tamb√≠en el usuario ha dado muchos ratings por lo tanto la suma ponderada considerara a otros 155 items. Entre m√°s √≠tems, la suma ponderada probablemente tender√° a alguna medida central de rating y quiz√°s es menos probable que prediga valores extremos como 1 o 5.

La diferencia en las predicciones se da porque la pelicula  9 tiene mayor un promedio ponderado mayor de diferencias de ratings entre el resto de los items vistos por el usuario. Es decir que el item 9 es m√°s distante al resto de los √≠tems vistos por el usuario que el √≠tem 1168.

In [15]:
prediction_id9 = mySlopeOne.predict("457", "9")
prediction_id1168 = mySlopeOne.predict("457", "1168")

print('Prediction for ID:9 :', prediction_id9)
print('Prediction for ID:1168 :', prediction_id1168)

Prediction for ID:9 : 4.530702114105225
Prediction for ID:1168 : 4.166153907775879

## Paso 7:

Generaremos ahora una lista ordenada de las top-N recomendaciones, dado un usuario.

In [16]:
# Mediante el m√©todo recommend() genereremos una lista top-5 recomendaciones para el usuario ID:457
reclist_slopeone = mySlopeOne.recommend("457", 5)

# Y visualizaremos el resultado
print('Lista de items seg√∫n ID:', reclist_slopeone)

Lista de items seg√∫n ID: ['1592', '1589', '1656', '1431', '1653']

In [17]:
# Lo convertimos a numpy array
recmovies_slopeone = np.array(reclist_slopeone).astype(int)

# Utilizamos la estructura de datos de los items para encontrar los t√≠tulos recomendados
print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items por nombre:

movieid
1592                               Magic Hour, The (1998)
1589                                   Schizopolis (1996)
1656                                   Little City (1998)
1431                                  Legal Deceit (1997)
1653    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

## Actividad 4 üë©üèª‚Äçüíª

Genera una nueva recomendacion, modificando los hiperparametros de usuario y topN a tu elecci√≥n.

**Pregunta:** ¬øVes una diferencia en la recomendaci√≥n entre el nuevo usuario y el usuario ID:457?

**Respuesta:**

La recomendaci√≥n es completamente distinta. Sugiere que existe personalizaci√≥n en las recomendaciones

In [18]:
# Escribe el nuevo codigo aqui
reclist_slopeone = mySlopeOne.recommend("456", 10)
recmovies_slopeone = np.array(reclist_slopeone).astype(int)

print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]['title']

Lista de items por nombre:

movieid
1472    Visitors, The (Visiteurs, Les) (1993)
1613                        Tokyo Fist (1995)
1536                     Aiqing wansui (1994)
1500                Santa with Muscles (1996)
1463                         Boys, Les (1997)
1293                          Star Kid (1997)
80                Hot Shots! Part Deux (1993)
78                          Free Willy (1993)
77                           Firm, The (1993)
76                       Carlito's Way (1993)
Name: title, dtype: object

## Actividad 5 üë©üèª‚Äçüíª

Dado el usuario ID:44, cree dos listas de pel√≠culas recomendadas; la primera utilizando el algoritmo Most Popular y la segunda utilizando el algoritmo Slope One.

**Pregunta:** Realice un analisis apreciativo de las similitudes y diferencias entre ambas recomendaciones.

**Respuesta:**

Puedo notar dos cosas. La primera es que las recomendaciones de Slope One son m√°s homog√©neas en cuanto a g√©nero. Se puede identificar que la mayor√≠a de las peliculas que recomend√≥ son de Drama. Por otro lado, Most popular recomend√≥ m√∫ltiples g√©neros. Destac√≥ accion, drama, romance, sci-fi y guerra.

El segundo punto que note a modo personal, las pel√≠culas recomendadas en most popular las conozco en su mayor√≠a mientras que las de Slope One son todas desconocidas para m√≠. 

Tomando ambos puntos en consideraci√≥n, Slope One parece ser mucho m√°s espec√≠fico a la hora de recomendar en relaci√≥n a Most Popular. Pens√© que podr√≠a significar mejor rendimiento pero al testear por m√©tricas MAP y nDCG@10 se puede apreciar que MostPopular tuvo mejor rendimiento.

In [20]:
most_popular = pyreclab.MostPopular(dataset='u1.base',
                   dlmchar=b'\t',
                   header=False,
                   usercol=0,
                   itemcol=1,
                   ratingcol=2)
most_popular.train()

In [29]:
reclist_slopeone = most_popular.recommend("44", 10)
recmovies_slopeone = np.array(reclist_slopeone).astype(int)

print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]

Lista de items por nombre:

                                    title release_date  ...  War Western
movieid                                                 ...
50                       Star Wars (1977)  01-Jan-1977  ...    1       0
100                          Fargo (1996)  14-Feb-1997  ...    0       0
181             Return of the Jedi (1983)  14-Mar-1997  ...    1       0
286           English Patient, The (1996)  15-Nov-1996  ...    1       0
1                        Toy Story (1995)  01-Jan-1995  ...    0       0
121         Independence Day (ID4) (1996)  03-Jul-1996  ...    1       0
300                  Air Force One (1997)  01-Jan-1997  ...    0       0
127                 Godfather, The (1972)  01-Jan-1972  ...    0       0
7                   Twelve Monkeys (1995)  01-Jan-1995  ...    0       0
98       Silence of the Lambs, The (1991)  01-Jan-1991  ...    0       0

[10 rows x 23 columns]

In [30]:
# Escribe el nuevo codigo aqui
reclist_slopeone = mySlopeOne.recommend("44", 10)
recmovies_slopeone = np.array(reclist_slopeone).astype(int)

print('Lista de items por nombre:')
info_file.loc[recmovies_slopeone]

Lista de items por nombre:

                                          title release_date  ...  War Western
movieid                                                       ...
1656                         Little City (1998)  20-Feb-1998  ...    0       0
1064                           Crossfire (1947)  01-Jan-1947  ...    0       0
1643                          Angel Baby (1995)  10-Jan-1997  ...    0       0
1642                   Some Mother's Son (1996)  27-Dec-1996  ...    0       0
1625                          Nightwatch (1997)  22-Apr-1997  ...    0       0
1599              Someone Else's America (1995)  10-May-1996  ...    0       0
1512     World of Apu, The (Apur Sansar) (1959)  05-Apr-1996  ...    0       0
1536                       Aiqing wansui (1994)  22-Jul-1996  ...    0       0
1500                  Santa with Muscles (1996)  08-Nov-1996  ...    0       0
1467       Saint of Fort Washington, The (1993)  01-Jan-1993  ...    0       0

[10 rows x 23 columns]

In [26]:
recommendList, maprec, ndcg = most_popular.testrec(input_file='u1.test',
                                          dlmchar=b'\t',
                                          header=False,
                                          usercol=0,
                                          itemcol=1,
                                          ratingcol=2,
                                          topn=10,
                                          relevance_threshold=2,
                                          includeRated=False)

print('MAP: {}\nNDCG@{}: {}'.format(maprec, 10, ndcg))

MAP: 0.2889129174597905
NDCG@10: 0.1598011823409535

In [27]:
recommendList, maprec, ndcg = mySlopeOne.testrec(input_file='u1.test',
                                          dlmchar=b'\t',
                                          header=False,
                                          usercol=0,
                                          itemcol=1,
                                          ratingcol=2,
                                          topn=10,
                                          relevance_threshold=2,
                                          includeRated=False)

print('MAP: {}\nNDCG@{}: {}'.format(maprec, 10, ndcg))

MAP: 0.017664149013738233
NDCG@10: 0.010398106088896622